 body{
            background-color: mediumaquamarine;
            font-family: 'Times New Roman', Times, serif;
            font-size: px;
        }
        h1 {
            color: brown;
            background-color: bisque;
        }
        h2 {
            color: brown;
        }
        p {
            text-align: justify;
        }